[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
django-heroku = "*"
gunicorn = "*"
python-dotenv = "*"
dj-database-url = "*"
factory-boy = "*"
urllib3 = "<2"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
dev-windows = "set ENV=dev && python manage.py runserver"
prod-windows = "set ENV=prod && python manage.py runserver"
requirements = "pipenv run pip freeze > requirements.txt"
