#top-of-dropdown {
    margin-left: 4vw;
}

#top-of-dropdown button {
    background-color:rgb(238, 238, 238);
    border: none;
    border-radius: var(--navbar-button-border-radii);
    height: calc(var(--navbar-height) / 1.5);
    width: fit-content;
    cursor: pointer;
    padding-left: 10px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
}

#category-dropdown-content { /* Dropdown Nav UL */
    z-index: 1; /* Important so that it renders over anything if the category list gets long. */
    display: none;
    padding-left: 0;
    position: absolute;
    background-color: white;

    border: 1px solid black;
    border-radius: 3px;
    margin-top: 2px;
    /* A bit hacky, maybe look into this later. */
    height: 1000%;
    overflow-y: scroll;
}

#category-dropdown-content li {
    margin-top: 5px;
    padding-right: 5px;
}

#category-dropdown-content li:hover {
    background-color: rgb(238, 230, 230);
}

#category-dropdown-content li a {
    display: block;
    text-decoration: none;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    color: black;
    padding-left: 0.5rem;
}

#filter-categories-input {
    border: 0px;
    padding: 0px;
    margin: 0px;
    height: 2em;
    padding-left: 5px;
}

#filter-categories-input:focus {
    outline: none;
}

#category-in-focus {
    overflow: hidden;
    text-overflow: ellipsis;
}

#category-in-focus:hover {
    border: 1px solid var(--input-border-colour);
}
