:root {
    --comment-background-colour: rgb(250, 249, 249);
    --votes-dist-to-left: 5px;
    --votes-dist-to-top: 5px;
}

#comments-flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#comments {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 40px;
}

.comment {
    width: 40%;
    border: 1px solid white;
    margin-top: 10px;
    overflow-wrap: break-word;
    border-radius: 5px;
    position: relative;
    background: var(--comment-background-colour);
}

.comment-votes {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: var(--votes-dist-to-left);
    top: var(--votes-dist-to-top);
}

.comment-username, .comment-content {
    margin-left: calc(var(--votes-dist-to-left) + 25px);
}
