:root {
    --input-border-colour: rgb(147, 213, 252);
    --input-background-colour-focus: rgb(235, 241, 240);
}

#comment-input-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}

#comment-input {
    width: 40%;
}

#comment-input p {
    margin: 0px;
}

#comment-input form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#comment-input form textarea {
    width: 100%;
    height: 13vh;
}

#comment-input form input[type="submit"] {
    margin-top: 7px;
    width: 30%;
}

#comment-input form input, #comment-input form textarea {
    border: none;
    border-radius: 10px;
}

#comment-input form textarea:focus {
    outline: none;
    border: 2px solid var(--input-border-colour);
    background-color: var(--input-background-colour-focus);
}

#comment-input form input {
    height: 4vh;
}

#comment-input form input:hover {
    background-color: var(--input-background-colour-focus);
    cursor: pointer;
}
