:root {
    --comment-background-colour: rgb(250, 249, 249);
    --votes-dist-to-left: 5px;
    --votes-dist-to-top: 10px;
}

#comments-flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#comments {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 40px;
}

/******************************************** Font stuff ************************************************/

.comment-username {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    color: black;
}

.time-elapsed-from-comment {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    color: grey;
}

/********************************************************************************************/


.comment {
    width: 50%;
    border: 1px solid white;
    margin-top: 10px;
    overflow-wrap: break-word;
    border-radius: 5px;
    position: relative;
    background: var(--comment-background-colour);
    padding: 10px;
}

@media only screen and (hover: none) and (pointer: coarse) {
    .comment {
        width: 80%;
    }
}

.comment-votes {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: var(--votes-dist-to-left);
    top: var(--votes-dist-to-top);
}

.upvote-comment, .downvote-comment {
    cursor: pointer;
}

.comment-username, .comment-content, .edit-comment-content {
    margin-left: calc(var(--votes-dist-to-left) + 25px);
}

.reply-to-comment-button {
    border: 0px;
    background: var(--post-background-colour);
    font-family: "Fira Sans", sans-serif;
    color: grey;
    font-weight: 600;
    cursor: pointer;
}

.reply-to-comment-button:hover {
    background: rgb(238, 230, 230);
}

.reply-to-comment-form {
    margin-top: 10px;
}

.reply-to-comment-form div {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.reply-to-comment-form textarea {
    border: 0px;
    margin-top: 15px;
    background: var(--post-background-colour);
    outline: none;
    resize: vertical;
}

.reply-to-comment-form input[type="submit"] {
    background-color: darkgrey;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    width: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(238, 230, 230);
}

.toggle-edit-comment, .delete-comment-button {
    float: right;
    cursor: pointer;
}

.toggle-edit-comment {
    margin-right: 10px;
}
