@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap');

:root {
    --post-background-colour: rgb(250, 249, 249);
    --votes-dist-to-left: 10px;
    --votes-dist-to-top: 20px;
    --navbar-height: 7vh;
    --navbar-button-border-radii: 5px;
    --input-border-colour: rgb(147, 213, 252);
    --input-background-colour-focus: rgb(235, 241, 240);
    --gap-to-post: 25px;
    --button-colours: rgb(235, 241, 240);
    --comment-background-colour: rgb(250, 249, 249);
    --navbar-height: 7vh;
    --navbar-button-border-radii: 5px;
    --background-colour: rgb(224, 222, 230);
    --error-message-colour: rgba(255, 0, 0, 0.2);
}


h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}

body { 
    font-family: "Fira Sans", sans-serif;
    background-color: var(--background-colour);
    margin: 0px;
    min-height: 100vh;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}