@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --blue-900: #0D1B2A;
    --blue-500: #1B263B;
    --blue-200: #415A77;
    --white-400: #778DA9;
    --white-100: #E0E1DD;

    --primary-text-colour: black;
    --secondary-text-colour: var(--blue-500);
    --tertiary-text-colour: var(--blue-200);
    --button-background-colour: var(--white-400);
    --button-hover-background-colour-primary: var(--blue-200);
    --button-hover-background-colour-secondary: var(--blue-500);
    --page-background-colour: var(--white-100);
    --post-background-colour: var(--white-400);
    --comment-background-colour: var(--post-background-colour);
    --navbar-background-colour: var(--post-background-colour);
    --input-background-colour: var(--white-100);
    --input-background-colour-focus: var(--blue-200);

    --error-message-colour: var(--red);

    --votes-dist-to-left: 10px;
    --votes-dist-to-top: 1px;

    --navbar-height: 7vh;
    --navbar-button-border-radii: 5px;
    --gap-to-post: 25px;
    --navbar-height: 7vh;
    --navbar-button-border-radii: 5px;
}


h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}

body {
    font-family: "Fira Sans", sans-serif;
    background-color: var(--page-background-colour);
    margin: 0px;
    min-height: 100vh;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

span, p, h1, h2, h3, a, button {
    color: var(--primary-text-colour);
}