@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --blue-800: #5AA9E6;
    --blue-500: #7FC8F8;
    --blue-200: #F9F9F9;
    --orange-200: #FFE45E;
    --orange-500: #FF6392;
    --white-200: #cac5c3;

    --primary-text-colour: white;
    --secondary-text-colour: var(--white-200);
    --tertiary-text-colour: var(--blue-800);
    --button-background-colour: var(--orange-500);
    --button-hover-background-colour-primary: var(--blue-800);
    --button-hover-background-colour-secondary: var(--blue-500);

    --page-background-colour: var(--blue-800);
    --post-background-colour: var(--blue-500);
    --comment-background-colour: var(--post-background-colour);
    --navbar-background-colour: var(--post-background-colour);
    --input-background-colour-focus: var(--blue-200);

    --error-message-colour: var(--red);

    --votes-dist-to-left: 10px;
    --votes-dist-to-top: 1px;

    --navbar-height: 7vh;
    --navbar-button-border-radii: 5px;
    --gap-to-post: 25px;
    --navbar-height: 7vh;
    --navbar-button-border-radii: 5px;
}


h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}

body {
    font-family: "Fira Sans", sans-serif;
    background-color: #1a1a1a;
    margin: 0px;
    min-height: 100vh;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

span, p, h1, h2, h3, a, button {
    color: var(--primary-text-colour);
}