@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap');

:root {
    --navbar-height: 7vh;
    --navbar-button-border-radii: 5px;
}

#navbar-site-name {
    text-decoration: none;
    color: black;
}

#navbar {
    background-color: white;
    width: 100%;
}

#navbar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0px;
    height: var(--navbar-height);
}

#top-of-dropdown {
    margin-left: 4vw;
}

#navbar-auth {
    margin-left: 50%;
}

#navbar-nav li {
    list-style: none;
    position: relative;
}

#top-of-dropdown button {
    background-color:rgb(238, 238, 238);
    border: none;
    border-radius: var(--navbar-button-border-radii);
    height: calc(var(--navbar-height) / 1.5);
    width: fit-content;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
}

#category-dropdown-content { /* Dropdown Nav UL */
    z-index: 1; /* Important so that it renders over anything if the category list gets long. */
    display: none;
    padding-top: 0.5rem;
    padding-left: 0px;
    position: absolute;
    background-color: white;

    border: 1px solid black;
    border-radius: 3px;
    margin-top: 2px;
}

#category-dropdown-content li {
    margin-top: 5px;
    padding-right: 5px;
}

#category-dropdown-content li:hover {
    background-color: rgb(238, 230, 230);
}

#category-dropdown-content li a {
    text-decoration: none;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    color: black;
    padding-left: 0.5rem;
}

#filter-categories-input {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 0px;
    border-left: 0px;
    padding: 0px;
    margin: 0px;
    height: 2em;
    padding-left: 5px;
}

#filter-categories-input:focus {
    outline: none;
}

#navbar-auth {
    display: flex;
}

#nav-to-login, #nav-to-signup {
    display: inline-block;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: black;
    background-color:rgb(238, 238, 238);
    text-align: center;
    height: calc(var(--navbar-height) / 1.5);
    line-height: calc(var(--navbar-height) / 1.5);
    width: fit-content;
    border-radius:var(--navbar-button-border-radii);
    padding-left: 20px;
    padding-right: 20px;
}

#nav-to-login {
    margin-right: 1em;
}
