#navbar {
    background-color: white;
}

#navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px;
}

#navbar-nav li {
    list-style: none;
    position: relative;
}

#top-of-dropdown:hover #category-dropdown-content {
    display: block;
}

#category-dropdown-content { /* Dropdown Nav UL */
    display: none;
    padding: 0.5rem 0 0 0.5rem;
    position: absolute;
}