@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap');


:root {
    --post-background-colour: rgb(250, 249, 249);
    --votes-dist-to-left: 10px;
    --votes-dist-to-top: 20px;
}

/* **************************************** Handle fonts *****************************************/

.post-category-name {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
}

.post-info span:not(.username) {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    color: grey;
}

.username, .vote-count {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    color: black;
}

.nav-to-comments span {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    color: grey;
}

/*************************************************************************************************/

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ensures that flexbox takes entire width of page. Thus, it is centered in the middle. */
}

.post {
    background: var(--post-background-colour);
    position: relative; /* Ensures that position absolute for post votes works. */
    border: 1px solid white;
    width: 50%;
    margin-top: 10px;
    overflow-wrap: break-word;
    border-radius: 5px;
    padding: 20px;
}

/* Detects mobile devices. Reference: https://stackoverflow.com/questions/42025632/how-to-detect-only-with-css-mobile-screens */
@media only screen and (hover: none) and (pointer: coarse) {
    .post {
        width: 80%;
    }
}

.post-votes {
    position: absolute;
    left: var(--votes-dist-to-left);
    top: var(--votes-dist-to-top);
    
    /* To make pattern of top arrow then votes then bottom arrow */
    display: flex;
    flex-direction: column;
}

.upvote, .downvote {
    cursor: pointer;
}

.vote-count {
    margin-top: 8px;
    margin-bottom: 8px;
}

.post-category-name {
    text-decoration: none;
    color: black;
}

.post-category-name:hover {
    text-decoration: underline;
}

.post-info {
    margin-left: calc(var(--votes-dist-to-left) + 25px); /* Helps stop overlapping of post information and post votes. */
}

.post-title {
    margin-left: calc(var(--votes-dist-to-left) + 25px); /* Helps stop overlapping of post information and post votes. */
    margin-top: 0px;
    margin-bottom: 0px;
}

.post-content {
    margin-left: calc(var(--votes-dist-to-left) + 25px); /* Helps stop overlapping of post information and post votes. */
    margin-top: 0px;
}

.nav-to-comments {
    display: inline-block; /* Ensures that width fits to text length. */
    margin-left: 5px;
}

.nav-to-comments:hover {
    cursor: pointer;
    background-color: rgb(238, 230, 230);
}

.delete-post-button {
    float: right;
    cursor: pointer;
}

#category-name-top-page {
    display: flex;
    justify-content: center;
}

#post-sorting-options-flex-container {
    display: flex;
    justify-content: center;
}

#post-sorting-options {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

#post-sorting-options a {
    text-decoration: none;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
}

#post-sorting-options a:hover {
    background-color: rgb(238, 230, 230);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

#post-sorting-options a:not(#current-ordering) {
    color: grey;
}

#post-sorting-options span {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    color: black;
}

#current-ordering {
    color: var(--input-border-colour);
    border: 2px solid var(--input-border-colour);
    background-color: var(--input-background-colour-focus);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
