.comment-votes {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: var(--votes-dist-to-left);
    top: 5px;
}

.comment-vote-count {
    margin: 4px auto;
}

.upvote, .downvote {
    display: block;
    cursor: pointer;
}

.upvote {
    margin-top: 5px;
}