:root {
    --votes-dist-to-left: 5px;
    --votes-dist-to-top: 10px;
}

.edit-comment-content-form, .comment-content {
    margin-left: calc(var(--votes-dist-to-left) + 25px);
}


.edit-comment-content-form div {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
}

.edit-comment-content-form textarea {
    border: 0px;
    margin-top: 15px;
    background: var(--input-background-colour);
    outline: none;
    resize: vertical;
}

.edit-comment-content-form textarea:focus {
    outline: none;
    border-radius: 10px;
    border: 2px solid var(--input-border-colour);
    background-color: var(--input-background-colour-focus);
}

.edit-comment-content-form input[type="submit"] {
    background-color: var(--button-background-colour);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    width: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(238, 230, 230);
}

.edit-comment-content-form input[type="submit"]:hover {
    background: var(--button-hover-background-colour-primary);
}

.toggle-edit-comment:hover {
    background: rgb(238, 230, 230);
}

.char-count {
    font-size: 75%;
    color: var(--secondary-text-colour);
    margin: 10px 0px;
}