.reply-to-comment-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

.reply-to-comment-form div {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.reply-to-comment-form textarea {
    border: 0px;
    margin: 15px 0px;
    background: var(--post-background-colour);
    outline: none;
    resize: vertical;
}

.reply-to-comment-form input[type="submit"] {
    background-color: darkgrey;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    width: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(238, 230, 230);
}

@media only screen and (hover: none) and (pointer: coarse) {
    .reply-to-comment-form input[type="submit"] {
        width: 100%;
    }
}
