.reply-to-comment-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

.reply-to-comment-form div {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}