#navbar-site-name {
    text-decoration: none;
    font-size: 1.3em;
}

#app-name-and-dropdown {
    display: flex;
    align-items: center;
}

#username-and-logout-button {
    display: flex;
    align-items: center;
    gap: 20px;
}

#nav-to-login-and-signup {
    display: flex;
    align-items: center;
}

#username {
    color: var(--tertiary-text-colour);
    font-weight: bold;
}

#navbar {
    background-color: var(--navbar-background-colour);
    width: 100%;
}

#navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 50px;
    height: var(--navbar-height);
}

#navbar-nav li {
    list-style: none;
    position: relative;
}

#nav-to-login, #nav-to-signup {
    display: inline-block;
    /* Allows text align center to work. */
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: black;
    background-color: rgb(238, 238, 238);
    text-align: center;
    height: calc(var(--navbar-height) / 1.5);
    line-height: calc(var(--navbar-height) / 1.5);
    width: fit-content;
    border-radius: var(--navbar-button-border-radii);
    padding: 0px 20px;
}

#nav-to-login:hover, #nav-to-signup:hover {
    border: 1px solid var(--input-border-colour);
}

#nav-to-login {
    margin-right: 1em;
}

@media only screen and (hover: none) and (pointer: coarse) {
    #navbar-nav {
        margin: 0px;
    }
}