#create-post-flex-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#create-post-flex-container form {
    width: 25vw;
}

@media only screen and (hover: none) and (pointer: coarse) {
    #create-post-flex-container form {
        width: 80vw;
    }
}

#create-post-flex-container input, #create-post-flex-container select {
    width: 100%;
    height: 3em;
    border: none;
    border-radius: 10px;
}

#create-post-flex-container textarea {
    width: 100%;
    border: none;
    border-radius: 10px;
}

#create-post-flex-container form input[type="submit"], #post-content-text-area, #select-post-category {
    margin-top: 10px;
}

#post-title, #post-content-text-area, #select-post-category {
    padding-left: 10px;
}

#post-title:focus, #post-content-text-area:focus, #select-post-category:focus {
    outline: none;
    border: 2px solid var(--input-border-colour);
    background-color: var(--input-background-colour-focus);
}

#create-post-flex-container form input[type="submit"] {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
}

#create-post-flex-container form input[type="submit"]:hover {
    background-color: var(--input-background-colour-focus);
    cursor: pointer;
}

#create-post-flex-container select {
    cursor: pointer;
}

.char-count {
    font-size: 75%;
    color: grey;
}