.nav-to-comments span {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    color: inherit;
}

.nav-to-comments {
    display: inline-block;
    /* Ensures that width fits to text length. */
    margin-left: 5px;
    text-decoration: none;
}

.nav-to-comments:hover {
    cursor: pointer;
}