.nav-to-comments span {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    color: grey;
}

.nav-to-comments {
    display: inline-block; /* Ensures that width fits to text length. */
    margin-left: 5px;
}

.nav-to-comments:hover {
    cursor: pointer;
    background-color: rgb(238, 230, 230);
}
