#comments-flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#comments {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 40px;
}

@media only screen and (hover: none) and (pointer: coarse) {
    #comments {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        margin-left: 40px;
    }
}

#loader {
    margin-top: 100px;
}
