#error-message {
    width: inherit;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--error-message-colour);
    border: 1px solid black;
    padding-right: 2%;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    margin-top: 10px;
}

#error-message button {
    background-color: var(--error-message-colour);
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1%;
}