#error-message {
    position: fixed;
    margin: 0 auto;
    bottom: 0px;
    left: 5px;
    right: 5px;
    width: 80vw;
    background-color: var(--error-message-colour);
    padding: 15px 10px;
    text-align: center;
    z-index: 1;
}