#sorting-options-flex-container {
    display: flex;
    justify-content: center;
}

#sorting-options {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

#sorting-options a {
    text-decoration: none;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
}

#sorting-options a:hover {
    background-color: rgb(238, 230, 230);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

#sorting-options a:not(#current-ordering) {
    color: grey;
}

#sorting-options span {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    color: black;
}

#current-ordering {
    color: var(--input-border-colour);
    border: 2px solid var(--input-border-colour);
    background-color: var(--input-background-colour-focus);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
