#link-to-create-post {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    display: block;
    position: absolute;
    left: 5vw;
    top: 10vh;
    width: fit-content;
    height: 25px;
    background: var(--input-background-colour-focus);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    line-height: 25px;
    text-decoration: none;
}

#link-to-create-post:hover {
    border: 2px solid var(--input-border-colour);
}

@media only screen and (hover: none) and (pointer: coarse) {
    #link-to-create-post {
        border-radius: 50%;
        left: 0;
        padding: 5px;
    }
}
