:root {
    --input-border-colour: rgb(147, 213, 252);
    --input-background-colour-focus: rgb(235, 241, 240);
}

/* TODO: fix error where input of type submit different width to input of type text. See 
https://stackoverflow.com/questions/6625509/100-width-on-input-type-submit-vs-input-type-text */

#login, #signup {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#login form, #signup form {
    width: 25vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#login form input, #signup form input {
    width: 100%;
    height: 3em;
    border: none;
    border-radius: 10px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
}

/* Shift placeholder text to right. */
#login form input:not(:last-child), #signup form input:not(:last-child) {
    padding-left: 10px;
}

#login form input:focus:not(:last-child), #signup form input:focus:not(:last-child) {
    outline: none;
    border: 2px solid var(--input-border-colour);
    background-color: var(--input-background-colour-focus);
}

#login form input[type="submit"]:hover, #signup form input[type="submit"]:hover {
    background-color: var(--input-background-colour-focus);
    cursor: pointer;
}

#auth-error-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#auth-error {
    background-color: rgba(255, 0, 0, 0.2);
    padding: 10px;
}

#signup-link, #login-link {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

#signup-link:hover, #login-link:hover {
    text-decoration: underline;
}

#dont-have-an-account, #already-have-an-account {
    width: 100%;
    text-align: center;
}

@media only screen and (hover: none) and (pointer: coarse) {
    #login form, #signup form{
        width: 80vw;
    }
}
